# Various IDEs and Editors
.vscode/
.idea/
**/*~
.vessel/

# Github Access Token
gittoken.key

# dApps
dapps-latest-build*
dapps-latest-build.zip

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# mint script output files
**/__*/

# frontend code
node_modules/
dist/
src/declarations/

seed.prod.txt
seed-prod.txt
seed.txt
identity.prod.pem
identity.pem
projects/bm/0.html
projects/bm/1.html
projects/bm/2.html
projects/bm/3.html
projects/bm/4.html
projects/bm/5.html
projects/bm/6.html
projects/bm/7.html
projects/bm/8.html
projects/bm/9.html
projects/bm/10.html
projects/bm/11.html
projects/bm/12.html
projects/bm/13.html
projects/bm/14.html
projects/bm/15.html
projects/bm/16.html
projects/bm/17.html
projects/bm/18.html
projects/bm/19.html
projects/bm/def_0.json
projects/bm/def_0a.json
projects/bm/def_1.json
projects/bm/def_1a.json
projects/bm/def_2.json
projects/bm/def_2a.json
projects/bm/def_3.json
projects/bm/def_3a.json
projects/bm/def_4.json
projects/bm/def_4a.json
projects/bm/def_5.json
projects/bm/def_5a.json
projects/bm/def_6.json
projects/bm/def_6a.json
projects/bm/def_7.json
projects/bm/def_7a.json
projects/bm/def_8.json
projects/bm/def_8a.json
projects/bm/def_9.json
projects/bm/def_9a.json
projects/bm/def_10.json
projects/bm/def_10a.json
projects/bm/def_11.json
projects/bm/def_11a.json
projects/bm/def_12.json
projects/bm/def_12a.json
projects/bm/def_13.json
projects/bm/def_13a.json
projects/bm/def_14.json
projects/bm/def_14a.json
projects/bm/def_15.json
projects/bm/def_15a.json
projects/bm/def_16.json
projects/bm/def_16a.json
projects/bm/def_17.json
projects/bm/def_17a.json
projects/bm/def_18.json
projects/bm/def_18a.json
projects/bm/def_19.json
projects/bm/def_19a.json
projects/bm/def_collection_build.json
projects/bm/def_collection_1.json
projects/bm/def_collection_2.json
projects/bm/def_collection_loaded.json
projects/bm/def_loaded_1.json
projects/bm/def_loaded_2.json
projects/bm/def_loaded.json

